*{
    margin: 0;
    padding: 0;
}
.partederecha2{
    position: absolute;
    top: 53%;
    left: 85%;
}
.partederecha{
    position: absolute;
    top: 81%;
    left: 85%;
}
#p1{
    position: relative;
    left: -12%;  
}
#p2{
    position: relative;
    left: -15%;
}
#p3{
    position: relative;
    left: 13%;
}
#p4{
    position: relative;
    left: -10%;
}
#div1{
    width: 100%; 
    height: 0.7rem;
}
#div2{
    width: 100%; 
    height: 0.5rem;
}

#div3{
    width: 100%; 
    height: 0.5rem;
}
#div4{
    width: 100%;
    height: 0.5rem;
}

.whatsappimg{
width: 10%;
display: inline;
}
.logopartederecha{
    width: 60%;
    height: 6vh;

}
.num{
    display: inline;
    position: absolute;
    top: 85%;
}
#logoimg{
    width: 20%;
    height: 20%;
}
.inputs{
    border: none;
    width: 30%;
}
p{
    font-size: 1.8vh;
}
.trbfech{
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}

.trb{
    padding-left: 1.5rem;
    font-size: 1rem;
}
.barranegra{
    width: 90%;
    position: relative;
    left: 5%;
    background-color: black;
    height: 0.3rem;
    -webkit-print-color-adjust: exact;

}
#divtexts{
    width: 90%;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textos{
    padding-left: 1.5rem;
    font-size: 1.3rem;
}
.textos2{
    display: block;
    padding-left: 1.5rem;
    font-size: 1rem;
    width: 90%;
    position: relative;
    left: 3%;
}
.txtinp{
    width: 13%;
}

.dsctotal{
    display: inline;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 1rem;

}
.sesald{
    display: inline;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

.dsctotal2{
    display: inline;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 7rem;

}
.sesald2{
    display: inline;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 7rem;
}
.txtinp2{
    width: 7%;
}
.corte{
    max-width: 100%;
    font-size: 1.3rem;
    color: black;
    overflow: hidden;
    max-height: 1rem;
}

.retiroyfechaprox{
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 3rem;
}
#primerseparacion{
    width: 100%; 
    height: 0.5rem;
}
#segundaseparacion{
    width: 100%; 
    height: 0.5rem;
}



@media(min-height:600px) and (max-height:699px){
    #logoimg{
        width: 7%;
        height: 7%;
    }
    .retiroyfechaprox{
        padding-top: 0.4rem;
        padding-bottom: 1.3rem;
    }
    #div1{
        height: 0rem;
    }
#div2{
     height: 0.3rem;
}

#div3{
height: 0rem;
}

.corte{
    max-width: 95%;
    font-size: 1.15rem;
    color: black;
    overflow: hidden;
    max-height: 0.8rem;
}
#primerseparacion{
    height: 0rem;
   }

   .partederecha2{
    position: absolute;
    width: 15%;
    top: 51%;
    left: 82%;
}
.partederecha{
    position: absolute;
    width: 15%;
    top: 81%;
    left: 82%;
}

.logopartederecha{
    width: 40%;
    height: 6vh;

}

#p3{
    position: relative;
    left: 10%;
}

.trbfech{
    font-size: 1.2rem;
}
.trb{
    font-size: 0.8;
}

.pedidopara{
    padding-bottom: 0;
    padding-top: 0.3rem;
}
}

@media(min-width:1350px) and (max-width:1600px){
    .partederecha2{
        position: absolute;
        width: 15%;
        top: 49%;
        left: 79%;
    }
    .partederecha{
        position: absolute;
        width: 15%;
        top: 80%;
        left: 80%;
    }

}
@media(min-width:1200px) and (max-width:1349px){
    .partederecha2{
        position: absolute;
        width: 15%;
        top: 47%;
        left: 79%;
    }
    .partederecha{
        position: absolute;
        width: 15%;
        top: 78%;
        left: 80%;
    }

}
@media(min-width:800px) and (max-width:1199px){
    .partederecha2{
        position: absolute;
        width: 15%;
        top: 43%;
        left: 79%;
    }
    .partederecha{
        position: absolute;
        width: 15%;
        top: 74%;
        left: 80%;
    }

}









@media(min-height:700px) and (max-height:780px){
    #logoimg{
        width: 7%;
        height: 7%;
    }
    .retiroyfechaprox{
        padding-top: 0.4rem;
        padding-bottom: 1.3rem;
    }
    #div1{
        height: 0rem;
    }
#div2{
     height: 0.3rem;
}

#div3{
height: 0rem;
}

.corte{
    max-width: 95%;
    font-size: 1.15rem;
    color: black;
    overflow: hidden;
    max-height: 0.8rem;
}
#primerseparacion{
    height: 0rem;
   }

   .partederecha2{
    position: absolute;
    width: 15%;
    top: 47%;
    left: 83%;
}
.partederecha{
    position: absolute;
    width: 15%;
    top: 79%;
    left: 83%;
}

.logopartederecha{
    width: 40%;
    height: 6vh;

}

#p3{
    position: relative;
    left: 10%;
}

.trbfech{
    font-size: 1.3rem;
}
.trb{
    font-size: 0.8;
}

.pedidopara{
    padding-bottom: 0;
    padding-top: 0.3rem;
}
}


@media(min-height:781px) and (max-height:870px){
    #logoimg{
        width: 7%;
        height: 7%;
    }
    .retiroyfechaprox{
        padding-top: 0.4rem;
        padding-bottom: 1.3rem;
    }
    #div1{
        height: 0rem;
    }
#div2{
     height: 0.3rem;
}

#div3{
height: 0rem;
}

.corte{
    max-width: 95%;
    font-size: 1.15rem;
    color: black;
    overflow: hidden;
    max-height: 0.8rem;
}
#primerseparacion{
    height: 0rem;
   }

   .partederecha2{
    position: absolute;
    width: 15%;
    top: 45%;
    left: 83%;
}
.partederecha{
    position: absolute;
    width: 15%;
    top: 79%;
    left: 83%;
}

.logopartederecha{
    width: 40%;
    height: 6vh;

}

#p3{
    position: relative;
    left: 10%;
}

.trbfech{
    font-size: 1.3rem;
}
.trb{
    font-size: 0.8;
}

.pedidopara{
    padding-bottom: 0;
    padding-top: 0.3rem;
}
}




#buttons{
    position: absolute;
    left: 10%;
    top: 1%;
}








@media print {

    body {
      margin: 0;
      color: #000;
      background-color: #fff;
    }
    #logoimg{
        width: 25%;
        height: 25%;
    }
    p{
        font-size: 2.5vh;
    }
    .trbfech{
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 2rem;
    }
    
    .trb{
        padding-left: 1.5rem;
        font-size: 1.5rem;
    }
    .barranegra{
        width: 90%;
        position: relative;
        left: 5%;
        background-color: black;
        height: 0.4rem;
        -webkit-print-color-adjust: exact;
    
    }
    #divtexts{
        width: 90%;
        position: relative;
        left: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #corte1{
        position: relative;
    }
   #primerseparacion{
    width: 100%; 
    height: 1rem;
   }
   #segundaseparacion{
    width: 100%; 
    height: 1rem;
}
    .textos{
        padding-left: 1.5rem;
        font-size: 1.6rem;
    }
    .textos2{
display: block;
        padding-left: 1.5rem;
        font-size: 1.5rem;
        width: 90%;
        position: relative;
        left: 3%;
    }

    .dsctotal{
        display: inline;
        font-size: 1.5rem;
        padding-left: 2rem;
        padding-right: 1rem;
    
    }
    .sesald{
        display: inline;

        font-size: 1.5rem;
        padding-left: 2rem;
        padding-right: 1rem;
    }
    
    .dsctotal2{
        display: inline;
        font-size: 1.5rem;
        padding-left: 2rem;
        padding-right: 12rem;
    
    }
    .sesald2{
        display: inline;
        font-size: 1.5rem;
        padding-left: 2rem;
        padding-right: 12rem;
    }
    .txtinp2{
        font-size: 1rem;
        width: 30%;
    }
    .corte{
        max-width: 100%;
        font-size: 1.3rem;
        color: black;
        overflow: hidden;
        max-height: 1rem;
    }
    
    .retiroyfechaprox{
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-top: 0.7rem;
    }
    .partederecha{
        position: absolute;
        top: 87%;
        left: 70%;
    }
    #p1{
        position: relative;
        left: -12%;  
        font-size: 1rem;
    }
    #p2{
        position: relative;
        left: -15%;
        font-size: 1rem;
    }
    #p3{
        position: relative;
        left: 13%;
        font-size: 1rem;
    }
    #p4{
        position: relative;
        left: -10%;
        font-size: 1rem;
    }
    
    
    .whatsappimg{
    width: 10%;
    display: inline;
    
    }
    .logopartederecha{
        width: 60%;
        height: 6vh;
    }
    .num{
        display: inline;
        position: absolute;
        top: 85%;
        font-size: 1rem;
    }
    .partederecha2{
        position: absolute;
        top: 58%;
        left: 70%;
    }
  }