.nomarginpadding {
    margin: 0 !important;
    padding: 0 !important;
}

#documentcontainer {
    height: 100vh;
    width: 100%;
}

#logo {
    width: 12%;
    height: 10%;
}

.trf {
    font-size: 2.5vw;
}

.esfcil {
    font-size: 1.8vw;
}

.datosp {
    font-size: 1vw;
}

.inputs {
    margin: 0;
    padding: 0;
    border: none;
    width: 30%;
    font-size: 1.2vw;
}

.blackline {
    width: 90%;
    position: relative;
    left: 5%;
    background-color: black;
    height: 0.25rem;
    -webkit-print-color-adjust: exact;
}

.pedidopara {
    padding-bottom: 0;
    padding-top: 0.5%;
    font-size: 1.1vw;
    padding-left: 0.8%;
    margin: 0;
}

#divtexts {
    width: 90%;
    position: relative;
    left: 5%;
}

.texts {
    width: 90%;
    position: relative;
    left: 3%;
}

.corte {
    width: 100%;
    font-size: 1.2vw;
    color: black;
    overflow: hidden;
    height: 2rem;
    margin: 0;
}

.dsctotal {
    display: inline;
    font-size: 1.2vw;
    padding-left: 4%;
    padding-right: 4%;

}

.sesald {
    display: inline;
    font-size: 1.2vw;
    padding-left: 4%;
    padding-right: 4%;
}

.dsctotal2 {
    display: inline;
    font-size: 1.5vw;
    padding-left: 4%;
    padding-right: 4%;

}

.sesald2 {
    display: inline;
    font-size: 1.5vw;
    padding-left: 4%;
    padding-right: 4%;
}
.sal, .sal1{
padding-left: 3.1%;
}

.inputs2 {
    width: 7%;
}

.textos2 {
    margin: 0;
    padding: 0;
    padding-left: 1.5rem;
    font-size: 1.15vw;
    width: 90%;
    position: relative;
    left: 3%;
}

.numdetrb {
    font-size: 1.5vw;
    font-weight: bold;
}
#info{
  width: 20%;
  position: absolute;
  left: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#infologo{
  width: 75px;
  height: 35px;
  margin-left: 20px;
}
#infodiv p{
  font-size: 12px;
  margin: 0;
  padding: 0;

}
#infodiv div{
  display: inline;
}
#infodiv div img{
  width: 20px;
  height: 20px; 
  display: inline;
}
#infodiv2{
  display: inline;
}
.margg{
  margin: 0;
  padding: 0;
}
.margg p{
  text-align: center;
}
#infodiv2 p{
  display: inline;
}

@media print{
    body {
        margin: 0;
        color: #000;
        background-color: #fff;
      }
      .blackline{
        margin-top: 0rem;
        margin-bottom: 0rem;
      }
      .corte{
       padding-bottom: 0rem;
       padding-top: 0rem; 
      }
      #logo{
        width: 23%;
        height: 10%;
      }
      .esfcil{
        font-size: 1rem;
      }

      .datosp, .datosp input{
        font-size: 0.9rem;
       margin-bottom: 0rem;
       margin-top: 0rem;
      }

      .inputs {
        margin: 0;
        padding: 0;
        border: none;
        width: 30%;
        font-size: 1rem;
    }
      .trf{
        padding-left: 1.3rem;   
        font-size: 1rem;
      }
      .trf input{
        font-size: 1rem;
      }
      .texts, .textos2{
        font-size: 0.95rem;
        margin-bottom: 0rem;
        margin-top: 0rem;
      }
      .texts input, .textos2 input{
        font-size: 0.78rem;
      }
      .dsctotal, .dsctotal2{
        font-size: 0.95rem;
        margin-bottom: 0rem;
        margin-top: 0rem;
      }
      .dsctotal input, .dsctotal2 input{
        font-size: 0.78rem;
        margin-bottom: 0rem;
        margin-top: 0rem;
      }
      .sesald, .sesald2{
        font-size: 0.95rem;
        margin-bottom: 0rem;
        margin-top: 0rem;
      }
      .sesald input, .sesald2 input{font-size: 0.78rem;}
.pedidopara{
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.pedidopara input{
    font-size: 0.95rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}
#corte2{
  padding: 150px;
  margin: 150px;
}
#info{
  width: 37%;
  position: absolute;
  left: 65%;
  top: 31%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imprimir{
  visibility:hidden;
}
#save{
  visibility: hidden;
}
}