.nomarginpadding {
    margin: 0 !important;
    padding: 0 !important;
}

#documentcontainer {
    height: 100vh;
    width: 100%;
}

#logo {
    width: 12%;
    height: 10%;
}

.trf {
    font-size: 2.5vw;
}

.esfcil {
    font-size: 1.8vw;
}

.datosp {
    font-size: 1vw;
}

.inputs {
    margin: 0;
    padding: 0;
    border: none;
    width: 30%;
    font-size: 1.2vw;
}

.blackline {
    width: 90%;
    position: relative;
    left: 5%;
    background-color: black;
    height: 0.25rem;
    -webkit-print-color-adjust: exact;
}

.pedidopara {
    padding-bottom: 0;
    padding-top: 0.5%;
    font-size: 1.1vw;
    padding-left: 0.8%;
    margin: 0;
}

#divtexts {
    width: 90%;
    position: relative;
    left: 5%;
}

.texts {
    width: 90%;
    position: relative;
    left: 3%;
}

.corte {
    width: 100%;
    font-size: 1.2vw;
    color: black;
    overflow: hidden;
    height: 2rem;
    margin: 0;
}

.dsctotal {
    display: inline;
    font-size: 1.2vw;
    padding-left: 5%;
    padding-right: 5%;

}

.sesald {
    display: inline;
    font-size: 1.2vw;
    padding-left: 5%;
    padding-right: 5%;
}

.dsctotal2 {
    display: inline;
    font-size: 1.5vw;
    padding-left: 5%;
    padding-right: 5%;

}

.sesald2 {
    display: inline;
    font-size: 1.5vw;
    padding-left: 5%;
    padding-right: 5%;
}

.inputs2 {
    width: 7%;
}

.textos2 {
    margin: 0;
    padding: 0;
    padding-left: 1.5rem;
    font-size: 1.15vw;
    width: 90%;
    position: relative;
    left: 3%;
}

.numdetrb {
    font-size: 2vw;
    font-weight: bold;
}